<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header border-0 mt-4 d-flex flex-column">
        <h3 class="card-title align-self-center mr-auto my-auto">
            <span class="card-label font-weight-bolder text-dark">Reservation Requests</span>
        </h3>
    </div>
    <!-- Body -->
    <div class="card-body pt-8">
        <div class="example-container mat-elevation-z8">
            <mat-table [dataSource]="reservations">
                <!-- Name Column -->
                <ng-container matColumnDef="numberOfGuests">
                    <mat-header-cell *matHeaderCellDef> Number Of Guests</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.numberOfGuests}} </mat-cell>
                </ng-container>
                <!-- Phone Column -->
                <ng-container matColumnDef="reservationDate">
                    <mat-header-cell *matHeaderCellDef> Reservation Date</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.reservationDate }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="specialRequest">
                    <mat-header-cell *matHeaderCellDef> Special Request</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.specialRequest}} </mat-cell>
                </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-raised-button class="mr-3"
                                color="primary" [routerLink]="['/requests/', row.id]">View</button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>
